@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-success: var(--success);
  --color-bg-gradient-1: var(--bg-gradient-1);
  --color-bg-gradient-2: var(--bg-gradient-2);
  --color-text-gradient-1: var(--text-gradient-1);
  --color-text-gradient-2: var(--text-gradient-2);
  --color-border-hover: var(--border-hover);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --bg-gradient-1: oklch(98.5% 0.002 247.839);
  --bg-gradient-2: oklch(96.7% 0.003 264.542);
  --text-gradient-1: oklch(55.1% 0.027 264.364);
  --text-gradient-2: oklch(21% 0.034 264.665);
  --border: oklch(92.8% 0.006 264.531);
  --border-hover: oklch(77.886% 0.00921 264.583);
  --primary: oklch(0.3 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(96.7% 0.003 264.542);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(92.8% 0.006 264.531);
  --muted-foreground: oklch(0.556 0 0);
  --success: oklch(72.3% 0.219 149.579);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply mx-auto w-full max-w-[1400px] px-4 md:px-6 lg:px-8;
  }

  button,
  .button,
  [type="button"],
  [type="submit"],
  [type="reset"] {
    @apply cursor-pointer;
  }
}
